@model ClinicaVet.Models.Veterinarios

@{
    ViewData["Title"] = "Detalhes do " + Model.Nome;
}

<h1>Veterinários</h1>
<h4>Detalhes</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Imagens/Vets/@Model.Foto" width="100" alt="Foto do Veterinário @Model.Foto" title="@Model.Foto" />
        </dd>
    </dl>
</div>

@*Mostrar a lista de consultas de um veterinário*@
<h4>Lista de Consultas</h4>

@if (Model.Consultas.Count == 0)
{
    <p>Não há consultas associadas ao/à @Model.Nome</p>
}
else
{


    <table class="table">
        <tr>
            <th>Data</th>
            <th>Animal</th>
            <th>Dono do Animal</th>
        </tr>
        @foreach (var consulta in Model.Consultas)
        {

            <tr>
                <td>@consulta.Data</td>
                <td>@consulta.Animal.Nome</td>
                <td>@consulta.Animal.Dono.Nome</td>
            </tr>
        }
    </table>
}
<div>
    <br />
    <br />
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Regressar à Listagem</a>
</div>
