@model IEnumerable<ClinicaVet.Models.Donos>
@*@namespace IEnumerable<ClinicaVet.Models.Animais>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Donos</h1>

<p>
    <a asp-action="Create">Adicionar um novo Dono</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF) @*deveria ser a foto do animal*@
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <img src="~/Imagens/Animais/Foto" width="100" alt="Aqui deveria aparecer a foto do Animal" title="@item.Nome" />
                    </a>
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
